@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-75;
}

::-webkit-scrollbar {
  display: none;
}

.logo {
  animation: rotate 2s linear infinite;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
